@charset "utf-8";

/* Extended Bootstrap
 *************************/
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* Layout
 *************************/
#app {
  height: 100%;
  position: relative;
}

.container {
  width: 80%;
  max-width: $mw;
  margin: 60px auto 0;
  position: relative;
  padding: 0;

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }
}

.section {
  padding: 36px 0;
  border-top: solid 2px $light-gray;

  &.no-gutter { padding: 0; }
}

.section__heading { margin-bottom: 24px; }

.section__title {
  display: block;
  font-size: $fz_large;
  @extend %roboto;
}

.list {
  margin: -8px;
  list-style: none;

  @media (max-width: $screen-md-min) {
    margin-bottom: 24px;
  }
}

.item {
  padding: 8px;
  position: relative;

  @media (max-width: $screen-xs-max) {
    min-width: 200px;
  }

  @media (min-width: $screen-sm-min) {
    &:hover {
      background-color: rgba($dark-gray, .05);

      .item__remove { display: block; }
    }
  }
}

.item__remove {
  font-size: $fz_large;
  color: $gray;
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 1;
  display: none;
  height: $fz_large;
}

.page__heading {
  padding-bottom: 40px;

  @media (max-width: $screen-xs-max) {
    padding-bottom: 20px;
  }
}

.page__title {
  font-size: $fz_larger;
  @extend %roboto;

  &.editable {
    border: solid 1px $light-gray;
    padding: 5px 8px;
    margin: -5px -8px;
  }
}

/* Login and Signup
 *************************/
.login-form {
  width: 320px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__header {
  @extend %roboto;
  font-size: $fz_larger;
  text-align: center;
}

.input-group {

}

.input-field {
  margin: 20px 0;

  input {
    width: 100%;
    font-size: $fz_normal;
    padding: 8px 12px;
    background-color: $white;
  }

  input[type=submit] {
    background-color: $primary-color;
    color: $white;
    border: solid 1px darken($primary-color, 5);
  }
}

/* Header
 *************************/
.header {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  background-color: $white;
  position: relative;
}

.header__logo {
  @extend %roboto;
  font-size: $fz_medium;
}

.header__ctrls {
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Footer
 *************************/
.footer {
  background-color: $light-gray;
  color: $gray;
  margin-top: 80px;
  padding: 26px 36px;
  box-shadow: inset 1px 0 3px rgba($gray, .2);

  @media (max-width: $screen-xs-max) {
    margin-top: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footer__copyright {
  font-size: $fz_normal;
}

.footer__link {
  &:hover { text-decoration: underline; }
}


/* Projects
 *************************/
.projects { }

.projects__item {
  position: relative;
  padding: 10px 1em;
  border-top: solid 1px $light-gray;

  &:last-child { border-bottom: solid 1px $light-gray; }

  a {
    cursor: pointer;

    &:hover { color: $primary-color; }
  }
}

.projects__item-name {

}

.projects__item-ctrls {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin-right: 10px;

  > a {
    float: left;
    display: inline-block;
    margin: 10px 0;
    color: $gray;

    + a { margin-left: 16px; }
  }
}

/* Colors
 *************************/
.colors { }

.color { }

.color__example {
  position: relative;
  padding: 0 1em !important;

  @media (max-width: $screen-xs-max) {
    max-width: 90px;
  }

  > span {
    background-color: transparent;
    // background-color: attr(data-color);
    // background-color: $primary-color;
    // content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba($dark-gray, .3);
  }
}

.color__data { }

.color__name {
  font-size: $fz_medium;
  padding-right: .5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.color__hex { color: $gray; }

.color__rgb { @extend .color__hex; }
