@charset "utf-8";

/* Extended Bootstrap
 *************************/
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* Layout
 *************************/
#app {
  height: 100%;
  position: relative;
}

.container {
  width: 80%;
  max-width: $mw;
  margin: 60px auto 0;
  position: relative;
  padding: 0;

  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }
}

.section {
  padding: 36px 0;
  border-top: solid 2px $light-gray;

  &.no-gutter { padding: 0; }
}

.section__heading { margin-bottom: 24px; }

.section__title {
  display: block;
  font-size: $fz_large;
  @extend %roboto;
}

.list {
  margin: -8px;
  list-style: none;

  @media (max-width: $screen-md-min) {
    margin-bottom: 24px;
  }
}

.item {
  padding: 8px;
  position: relative;

  @media (max-width: $screen-xs-max) {
    min-width: 200px;
  }

  @media (min-width: $screen-sm-min) {
    &:hover {
      background-color: rgba($dark-gray, .05);

      .item__remove { display: block; }
    }
  }
}

.item__remove {
  font-size: $fz_large;
  color: $gray;
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 1;
  display: none;
  height: $fz_large;
}

.code {
  position: relative;

  > pre {
    padding: 0;
    min-height: 2em;
  }

  // .hljs { padding: 9.5px; }
}

.page__heading {
  padding-bottom: 40px;

  @media (max-width: $screen-xs-max) {
    padding-bottom: 20px;
  }
}

.page__title {
  font-size: $fz_larger;
  @extend %roboto;

  &.editable {
    border: solid 1px $light-gray;
    padding: 5px 8px;
    margin: -5px -8px;
  }
}

/* Login and Signup
 *************************/
.login-form {
  width: 320px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__header {
  @extend %roboto;
  font-size: $fz_larger;
  text-align: center;
}

.input-group {
  .section & { margin-bottom: 40px; }
}

.input-field {
  margin: 20px 0;

  input {
    width: 100%;
    font-size: $fz_normal;
    padding: 8px 12px;
    background-color: $white;
    height: 100%;
  }

  input[type=submit] {
    background-color: $primary-color;
    color: $white;
    border: solid 1px darken($primary-color, 5);
  }

  .label {
    margin-right: 1em;
    color: $gray;
  }

  &.input-field--compact {
    width: 320px;

    input[type=text] { width: 60%; }
    input[type=submit] { width: 40%; }
  }
}

.input-toggle {
  > div {
    display: inline-block;
    font-size: $fz_normal;
    line-height: $fz_normal;
    vertical-align: middle;
  }
}

.toggle {
  width: 40px;
  overflow: hidden;
  border: solid 1px $light-gray;
  border-radius: 3px;

  &.is-on { border-color: $primary-color; }

  input[type=checkbox] { display: none; }
}

.toggle-field {
  position: relative;
  width: 200%;
  transition: all .3s ease;

  .is-on & { left: 0; }
  .is-off & { left: -100%; }
}

.toggle-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  padding: 12px 16px;
  font-size: 0;
  background-color: $primary-color;
  display: block;
}

.toggle-off {
  @extend .toggle-on;
  right: 0;
  left: 50%;
  background-color: $light-gray;
}

.toggle-handle {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 12px 16px;
  width: 0;
  background-color: $white;
  display: block;
  border-radius: 3px;
}


/* Header
 *************************/
.header {
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  background-color: $white;
  position: relative;
}

.header__logo {
  @extend %roboto;
  font-size: $fz_medium;
}

.header__ctrls {
  position: absolute;
  top: 0;
  right: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Footer
 *************************/
.footer {
  background-color: $light-gray;
  color: $gray;
  margin-top: 80px;
  padding: 26px 36px;
  box-shadow: inset 1px 0 3px rgba($gray, .2);

  @media (max-width: $screen-xs-max) {
    margin-top: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.footer__copyright {
  font-size: $fz_normal;
}

.footer__link {
  &:hover { text-decoration: underline; }
}


/* Projects
 *************************/
.projects { }

.projects__item {
  position: relative;
  padding: 10px 1em;
  border-top: solid 1px $light-gray;

  &:last-child { border-bottom: solid 1px $light-gray; }

  a {
    cursor: pointer;

    &:hover { color: $primary-color; }
  }
}

.projects__item-name {

}

.projects__item-ctrls {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin-right: 10px;

  > a {
    float: left;
    display: inline-block;
    margin: 10px 0;
    color: $gray;

    + a { margin-left: 16px; }
  }
}

/* Colors
 *************************/
.colors { }

.color { }

.color__example {
  position: relative;
  padding: 0 1em !important;

  @media (max-width: $screen-xs-max) {
    max-width: 90px;
  }

  > span {
    background-color: transparent;
    // background-color: attr(data-color);
    // background-color: $primary-color;
    // content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba($dark-gray, .3);
  }
}

.color__data { }

.color__name {
  font-size: $fz_medium;
  padding-right: .5em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.color__hex { color: $gray; }

.color__rgb { @extend .color__hex; }

/* Typography
 *************************/
.font-sizes {
  margin: 0;

  .item {
    > .item__remove {
      top: 0;
      bottom: 0;
      margin: auto 0;
      margin-right: 8px;
    }
  }
}

.font-size {
  display: flex;
  align-items: center;
  font-size: $fz_medium;
  line-height: 1.2;
  padding-top: 10px;
  padding-bottom: 10px;

  .size {
    text-align: center;
    font-size: $fz_medium;
    margin-right: 2em;
    @extend .color__hex;

    @media (max-width: $screen-xs-max) {
      font-size: $fz_normal;
      margin-right: 1em;
    }
  }

  .text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: .5em;

    @media (max-width: $screen-md-min) {
      padding-right: 0;
    }
  }
}

/* Fonts
 *************************/
.font-families { }

.font-family {
  > span { display: block; }
}

.font-family__name { font-size: $fz_medium; }
.font-family__weight { @extend .color__hex; }
